<div class="login-container">
  <!-- Spinner de carga -->
  <div *ngIf="loading$ | async" class="spinner-overlay">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div class="login-card">
    <!-- Columna Izquierda: Formulario de Login -->
    <div class="login-left">
      <h2>Iniciar Sesión</h2>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">
            <i class="fas fa-envelope"></i>
            Ingresa tu email
          </label>
          <input type="email" id="email" class="form-control" placeholder="you@example.com"
            [(ngModel)]="loginData.email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">
            <i class="fas fa-lock"></i>
            Ingresa tu contraseña
          </label>
          <input type="password" id="password" class="form-control" placeholder="********"
            [(ngModel)]="loginData.password" name="password" required />
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
      </form>
    </div>
    <!-- Columna Derecha: Imagen o Mensaje -->
    <div class="login-right">
      <img src="https://www.shutterstock.com/image-vector/sky-clouds-illustration-flat-style-600nw-2479263755.jpg"
           alt="Imagen de Login"
           class="login-image" />
    </div>
  </div>
</div>
